.item {
    padding: 1rem;
    @include flex(0, 1, auto);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    &.flex-100 {
        width: 100%;
        max-width: 100%;
        &.has-gutter {
            width: 96%;
            max-width: 96%;
            margin: 2%;
        }
    }
    &.flex-75 {
        width: 75%;
        max-width: 75%;
        &.has-gutter {
            width: 71%;
            max-width: 71%;
            margin: 2%;
        }
    }
    &.flex-50 {
        width: 50%;
        max-width: 50%;
        &.has-gutter {
            width: 46%;
            max-width: 46%;
            margin: 2%;
        }
    }
    &.flex-33 {
        width: 33.33%;
        max-width: 33.33%;
        &.has-gutter {
            width: 29.33%;
            max-width: 29.33%;
            margin: 2%;
        }
    }
    &.flex-25 {
        width: 25%;
        max-width: 25%;
        &.has-gutter {
            width: 21%;
            max-width: 21%;
            margin: 2%;
        }
    }
    &.has-centered-content {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
    &.is-fill {
        @include flex(1);
    }
}

@include phone {   
    .container {
        .item {
            padding: 0;
            &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
@include tablet {
    .container {
        .item {
            &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}