<footer>
    <div class="container">
        <div class="item flex-100 is-center-aligned">
            {% include categories.html %}
        </div>
        <div class="item flex-100 is-center-aligned">
            © {{ 'now' | date: "%Y" }} <a href="https://bpwalters.com" target="blank">Ben Walters</a>
        </div>
        <div class="item flex-100 is-center-aligned">
            <a href="mailto:contact@benscarblog.com" class="footer-icon"><span class="far fa-envelope"></span></a>
            <a href="https://www.instagram.com/benscarblog/" class="footer-icon"><span class="fab fa-instagram"></span></a>
            <a href="https://www.facebook.com/benscarblog/" class="footer-icon"><span class="fab fa-facebook-square"></span></a>
        </div>
    </div>
</footer>