<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
<meta name="description" content="A personal car blog highlighting my passion for all things automotive. Reviews, guides, tutorials, event coverage, and much more!">
<title>Ben's Car Blog</title>
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500|Lato:300,900|Source+Sans+Pro&display=swap" preload>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<script defer data-domain="benscarblog.com" src="https://plausible.io/js/script.js"></script>