<header>
    <div class="container">
        <div class="item flex-25">
            <a class="site-title" href="/">
                <img src="{{ site.baseurl }}/assets/images/bcb_logo_white.png" alt="Ben's Car Blog" />
            </a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="item flex-75">
            <nav>
                <ul>
                    <li><a href="/">Posts</a></li>
                    <li><a href="/garage/">Garage</a></li>
                    <li><a href="/toolbox/">Toolbox</a></li>
                    <li><a href="/about-me/">About</a></li>
                    <li><a href="/support/">Support</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>