<section id="related-posts">
    <div class="container">
        <div class="item flex-100 is-center-aligned">
            <h1>Related Posts</h1>
        </div>
        {% assign maxRelated = 3 %}
        {% assign relatedCounter = 0 %}
        {% assign relatedPostsMarkup = '' %}
        {% for post in site.posts %}
            {% for category in include.categories %}
                {% if post.url != page.url %}
                    {% if post.categories contains category and relatedCounter < maxRelated %}
                        {% capture postMarkup %}<div class="item flex-33">{% include post_preview.html %}</div>{% endcapture %}
                        {% unless relatedPostsMarkup contains postMarkup %}
                            {% assign relatedPostsMarkup = relatedPostsMarkup | append: postMarkup %}
                            {% assign relatedCounter = relatedCounter | plus: 1 %}
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {{ relatedPostsMarkup }}
    </div>
</section>