<section id="support">
  <div class="container">
      <div class="item flex-100 is-center-aligned">
        <h1>Support</h1>
        <p>Did I write something useful? Make you laugh? Cry? All the above?</p>
        <p>Feel free to show your support by buying me a coffee!</p>
      </div>
      <div class="item flex-100 is-center-aligned">
        <a class="is-button" target="_blank" href="https://www.buymeacoffee.com/benscarblog">
          <span class="fas fa-coffee is-inline-icon"></span>
          <span>Buy me a coffee</span>
        </a>
      </div>
  </div>
</section>