#homepage {
    #intro {
        .intro-title {
            padding: 3rem 0;
            text-align: center;
            color: $white;
            h1 {
                padding: 1.5rem;
                border: 1px solid $white;
                display: inline-block;
                span {
                    font-weight: 200;
                }
            }
        }
    }
}