.post-preview {
    h1, h2, h3, h4, h5, h6 {
        margin: 1.5rem 0 1rem 0;
    }
    .post-preview-image {
        padding: 8em 0;
        position: relative;
    }
}

@include desktop {
    .first-post {
        .post-preview-image {
            padding: 15em 0;
        }
    }
}