.post-preview {
    height: 15em;
    padding: 1em;
    color: $white;
    position: relative;
    display: flex;
    align-items: flex-end;
    .is-subheading {
        margin: 0 0 .5em;
        opacity: 0;
        @include animation(fade-in-slide-up 1s forwards);
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        opacity: 0;
        @include animation(fade-in-slide-up 1s forwards);
        a {
            color: $white;
        }
    }
    .post-preview-image {
        padding: 8em 0;
        position: relative;
    }
    .background-link-wrapper {
        a {
            opacity: 0;
        }
    }
}