---
layout: default
---

<section id="post-intro" class="is-screen-fill is-intro-section">
    <div class="background-image-wrapper is-dark">
          <div class="is-opaque" style="background-image: url('{{ page.image }}');"></div>
    </div>
    <div class="container has-middle-text">
        <div class="item flex-100">
            <p class="is-subheading is-bold">{{ page.date | date: '%B %d, %Y' }}</p>
            <h2>{{ page.title }}</h2>
            <p class="is-subheading">{% include read_time.html %}</p>
            <p class="is-subheading post-categories">{% include post_categories.html %}</p>
        </div>
    </div>
</section>
<section id="post-content">
    <div class="container">
        <div class="item flex-100">
            <article>
                {{ page.content }}
            </article>
        </div>
    </div>
</section>
{% include subscribe_section.html %}
{% include related_posts.html categories=page.categories %}