footer {
    a {
        color: $dark-gray;
        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }
    a.footer-icon {
        margin: 0 .5em;
        display: inline-block;
        color: $dark-gray;
        font-size: 2rem !important;        
        &:hover {
            text-decoration: none;
        }
    }
}