footer {
    a.footer-icon {
        margin: 0 .5em;
        display: inline-block;
        color: $dark-gray;
        &:hover {
            text-decoration: none;
        }
        span {
            display: block;
            font-size: 2rem !important;
        }
    }
}